/*@import '../variables.css';*/

.root {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  width: 100%;
  background-color: #ccc;
  margin-top: -10px;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 1000px;
}

.container h1{
  text-align: center;
}

.textSection {
  font-size: 18px;
}

@media (max-width: 480px) {
  .textSection {
    text-align: left;
  }
}
